<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747419763478-da4u87mda5cc2j020le5l21snd9h59p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747419763478-da4u87mda5cc2j020le5l21snd9h59p0</string>
	<key>API_KEY</key>
	<string>AIzaSyAOOjTcTX9utyVs4PT80RY6ttZ1AFegC9E</string>
	<key>GCM_SENDER_ID</key>
	<string>747419763478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caval.courier.ios</string>
	<key>PROJECT_ID</key>
	<string>eco-share-92ef1</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-share-92ef1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747419763478:ios:567cad07c5b4d1222c8637</string>
	<key>DATABASE_URL</key>
	<string>https://eco-share-92ef1-default-rtdb.firebaseio.com</string>
</dict>
</plist>